/* doar iduri cand folosim bootstrap */
/* #par{
    color: red;
    font-family: 'Times New Roman', Times, serif;
} */
/* .container{
    background-color: sandybrown;
} */
#loginbutton{
    border-radius: 20px;
}